body{

    background-color: #2a5586;
    font-family: sans-serif;
    
}

.form{
    width: 400px;
    margin:auto;
    padding-top: 40px;

}

.card{

    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card.top{
    text-align: center;
}

.imglogin{
    border-radius: 50px;
    width: 100px;
    box-shadow: 1px 1px 5px #ccc;
}

.title{
    color: rgb(0, 0, 255);
}